<nav class="p-4 bg-gray-900">
  <div class="container flex items-center justify-between mx-auto max-w-7xl">
    <div>
      <%= link_to 'ClientFirst Labs', root_path, class: 'navbar-link text-primary text-2xl font-bold' %>
    </div>
    <div class="flex items-center space-x-4">
      <%= link_to 'About', "", class: 'navbar-link' %>
      <%= link_to 'Services', "", class: 'navbar-link' %>
      <%= link_to 'Testimonials', "", class: 'navbar-link' %>
      <%= link_to 'Contact', "", class: 'navbar-link' %>
    </div>
  </div>
</nav>
