<div class="flex flex-col items-center justify-center w-[373px] rounded-lg p-12 bg-gray-800">
  <div class="w-24 h-24 rounded-full img-container">
    <%= image_tag("placeholder-profile-image.jpg") %>
  </div>

  <p class="mt-8 text-center"><%= message %></p>

  <div class="flex flex-col items-center mt-8">
    <h5 class="text-white"><%= name %></h5>
    <p><%= title %> - <%= company %></p>
  </div>
</div>
