<section class="full-view-height bg-background-navy">
  <div class="relative content-container flex-col-center md:flex-row">
    <div class="w-full md:w-1/2">
      <h1 class="text-[55px]">Software development should <strong class="text-secondary">NOT</strong> be complicated</h1>

      <p class="">Our unique approach to software development focuses on understanding your concerns and presenting data to back up your decisions, ensuring that our custom software solutions meet and exceed your business objectives.</p>
    </div>

    <div class="">
      <%= image_tag("icons/swoosh.svg") %>
    </div>
  </div>
</section>

<section class="bg-background-black">
  <div class="content-container flex-col-center">
    <div class="mb-16 pill">
      <p>What we stand for</p>
    </div>

    <div class="flex-col-center md:flex-row md:justify-between md:gap-16">
      <div class="w-full image-container">
        <%= image_tag("Josiah-March2024-1-M.jpg", class: "rounded-xl-box-shadow") %>
      </div>

      <div class="w-full space-y-8">
        <div>
          <h3>Making Development Enjoyable</h3>
          <p>At ClientFirst Labs Ltd, we prioritize making the software development process an enjoyable experience for our clients. We take the time to understand your concerns and work closely with you to ensure that the entire development journey is positive and fulfilling.</p>
        </div>

        <div>
          <h3>Data-Backed Decision Making</h3>
          <p>We understand the importance of data in decision-making. At ClientFirst Labs Ltd, we present and utilize data to back up the decisions made during the development process, ensuring that your custom software solutions are based on sound reasoning and industry best practices.</p>
        </div>

        <div>
          <h3>Client-Focused Approach</h3>
          <p>ClientFirst Labs Ltd is dedicated to placing your needs at the forefront of everything we do. Our client-focused approach ensures that the custom software solutions we deliver not only meet your business objectives but also exceed your expectations.</p>
        </div>

        <div class="w-full flex-row-start">
          <div class="w-60">
            <%= link_to "Schedule a call", "https://calendly.com/josiah-freelance-developer/discovery", class: "btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-background-navy">
  <div class="content-container flex-col-center">
    <div class="mb-16 pill">
      <p>What we do</p>
    </div>

    <div class="flex-col w-full space-y-16">
      <%= render partial: "shared/service-card", locals: {
        reverse: false,
        image_src: asset_path("web-application-dev.jpg"),
        heading: "Web Application Design & Development",
        description: "Transform your startup’s vision into a robust and scalable web application with ClientFirst Labs. Our team specializes in creating user-friendly, high-performance web applications tailored to meet your business needs. Benefit from our expertise in the latest technologies to ensure your application is secure, maintainable, and ready for future growth."
        } %>
      <%= render partial: "shared/service-card", locals: {
        reverse: true,
        image_src: asset_path("mobile-dev.jpg"),
        heading: "Mobile Application Design & Development",
        description: "Enhance your startup’s reach with custom mobile applications designed and developed by ClientFirst Labs. We deliver seamless, intuitive mobile experiences that engage users and drive business growth. Whether it's for iOS or Android, our solutions are optimized for performance and usability, ensuring your app stands out in a competitive market."
        } %>
      
      <%= render partial: "shared/service-card", locals: {
        reverse: false,
        image_src: asset_path("modernization.webp"),
        heading: "Website Modernization",
        description: "Give your startup a competitive edge with a modernized website from ClientFirst Labs. We revamp outdated websites to improve aesthetics, functionality, and user experience, making your business more appealing and accessible to customers. Modernize your online presence to boost engagement, enhance SEO, and increase conversion rates."
        } %>
    </div>
  </div>
</section>

<section class="bg-background-black">
  <div class="content-container flex-col-center">
    <div class="mb-16 pill">
      <p>Ready to start</p>
    </div>

    <h2 class="w-3/4 text-center">
      Ready to experience our client-focused and data-driven software development approach?
    </h2>
    
    <div class="mt-8 w-60">
      <%= link_to "Schedule a call", "https://calendly.com/josiah-freelance-developer/discovery", class: "btn-primary btn-lg" %>
    </div>
  </div>
</section>

<section class="bg-background-navy">
  <div class="content-container flex-col-center">
    <div class="mb-16 pill">
      <p>Testimonials</p>
    </div>

    <div class="flex flex-row gap-7">
      <%= render partial: "shared/testimonial-card", locals: {
        name: "Mark Proudfoot",
        message: "“Josiah excelled in building our company's software with clear and concise communication, ensuring a smooth and efficient development process.”",
        title: "President",
        company: "Wecasa"
        } %>
      <%= render partial: "shared/testimonial-card", locals: {
        name: "Aaron Dufall",
        message: "“Meeting a tight deadline, Josiah's agility and precision in developing key features not only propelled our project beyond expectations but also showcased his dependable expertise in software development tailored to our needs.”",
        title: "President",
        company: "Scalelabs"
        } %>
      <%= render partial: "shared/testimonial-card", locals: {
        name: "Roger Kondrat",
        message: "“Josiah's dedication to self-improvement is truly remarkable. His proactive approach to learning and staying ahead of industry trends is evident in the high-quality work he consistently delivers.”",
        title: "President",
        company: "OpenRangeDevs"
        } %>
    </div>
  </div>
</section>

<section class="h-[714px] bg-background-black" data-scroll-into-view-target="contactInfo">
  <div class="content-container flex-col-center">
    <div class="mb-16 pill">
      <p>Get in touch</p>
    </div>

    <div class="mb-4 flex-row-center">
      <%= image_tag("icons/email-light.svg", class: "w-8 h-auto") %>
      <h1 class="mx-4 mb-0">josiah@clientfirstlabs.io</h1>
      <%# <%= image_tag("icons/copy-light.svg", class: "w-8 h-auto")  %>
    </div>

    <div class="flex-row-center">
      <%= image_tag("icons/phone-light.svg", class: "w-8 h-auto") %>
      <h1 class="mx-4 mb-0">+1 (778) 344-4798</h1>
      <%# <%= image_tag("icons/copy-light.svg", class: "w-8 h-auto")  %>
    </div>

    <div class="mt-8 w-60">
      <%= link_to "Schedule a call", "https://calendly.com/josiah-freelance-developer/discovery", class: "btn-primary btn-lg" %>
    </div>
    <div>
      <p></p>
      <div></div>
    </div>
  </div>
</section>
