<section class="h-screen bg-background-navy">
  <div class="flex flex-col items-center justify-center w-full">
    <h1 class="text-[55px]">Website coming soon!</h1>

    <div>
      <%= image_tag("construction.png") %>
    </div>
  </div>
</section>



<section class="bg-background-navy" data-scroll-into-view-target="contactInfo">
  <div class="content-container flex-col-center">
    <div class="mb-16 pill">
      <p>Get in touch</p>
    </div>

    <div class="mb-4 flex-row-center">
      <%= image_tag("icons/email-light.svg", class: "w-8 h-auto") %>
      <h1 class="mx-4 mb-0">josiah@clientfirstlabs.io</h1>
      <%= image_tag("icons/copy-light.svg", class: "w-8 h-auto") %>
    </div>

    <div class="flex-row-center">
      <%= image_tag("icons/phone-light.svg", class: "w-8 h-auto") %>
      <h1 class="mx-4 mb-0">+1 (778) 344-4798</h1>
      <%= image_tag("icons/copy-light.svg", class: "w-8 h-auto") %>
    </div>
    <div>
      <p></p>
      <div></div>
    </div>
  </div>
</section>
